# Core
colorlog
attrs>=17.4.0
voluptuous>=0.11.5
#pyyaml>=3.13,<4
jinja2>=3,<4
#jmespath>=0.9.4,<1
openpyxl>=3,<4
typeguard
icecream
requests

# everything.search
requests>=2.0.0

# io_mongo
pymongo

# io_oauth
O365>=1.0.4,<2
bottle

# fuzzy search
fuzzywuzzy<1

# Optional requirements
# pandas

# pytest
pytest
pytest
pytest-aiohttp
pytest-cov
pytest-github-actions-annotate-failures
