# everything.search
requests>=2.0.0

# io_mongo
pymongo

# io_oauth
O365>=1.0.4,<2
bottle

# fuzzy search
fuzzywuzzy<1
python-Levenshtein

# Optional requirements
# pandas

# pytest
pytest
pytest
pytest-aiohttp
pytest-cov
pytest-github-actions-annotate-failures
